/* * {
  font-family: 'Girassol', serif;
  text-shadow: 4px 4px 4px #aaa;
} */

.jumbotrom {
  height: 50px;
}

.headerText {
  font-family: 'Girassol', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.tapMenu {
  font-family: 'Inconsolata';
}

.tapMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.card {
  margin-bottom: 20px;
}

.card-image {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.form-card {
  display: flex;
  justify-content: center;

}


.footer {
  font-family: 'Inconsolata';
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  /* position: fixed; */
  text-align: left;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 100px;
}

.footer .footer-left p {
  color: #8f9296;
  font-size: 17px;
  margin: 0;
}

.footer .footer-right {
  float: right;
  /* margin-top: 6px; */
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #3e4346;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
