body {
  font-family: 'Inconsolata', serif;
}

#jumbo {
  height: 50px;
  padding: 80px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  border: 4px solid;
  border-radius: 6px;
  border-width: 2px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* margin-right: 20px; */
  font-weight: bolder;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}
/* 
.btn:hover {
  border-radius: 30px;
  border-color: #494949 !important;
  } */

.headerText {
  font-family: 'Girassol', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.tapMenu, .form-card {
  font-family: 'Inconsolata';
}

h1 {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tapMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 460px;
  width: 280px;
}

.card-image {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.card-footer {
  padding-top: 0%;
  padding-bottom: 0%;
}

.detail-card {
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: 600px;
  font-size: 1.2em;
}

.form-card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  width: 500px;
  padding: 30px;
}

.footer {
  font-family: 'Inconsolata';
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  /* position: fixed; */
  text-align: left;
  font: normal 16px sans-serif;
  padding: 20px 25px;
  margin-top: 100px;
}

.footer .footer-left p {
  color: #c1cddd;
  font-size: 17px;
  margin: 0;
}

.footer .footer-right {
  float: right;
  /* margin-top: 6px; */
  max-width: 180px;
}

.footer .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #3e4346;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  margin-left: 5px;
  transition:all .25s;
}

.footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
